<h1><%= gettext "Edit Student" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.student_path(@conn, :update, @student)) %>

<span><%= link gettext("Back"), to: Routes.student_path(@conn, :index) %></span>
