<h1><%= gettext "Register a student" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.student_path(@conn, :create)) %>

<span><%= link gettext("Back"), to: Routes.student_path(@conn, :index) %></span>
