<h1><%= gettext "Student" %></h1>

<ul>

  <li>
    <strong><%= gettext "Name" %>:</strong>
    <%= @student.name %>
  </li>

  <li>
    <strong><%= gettext "Registration" %>:</strong>
    <%= @student.registration %>
  </li>

</ul>

<span><%= link gettext("Edit"), to: Routes.student_path(@conn, :edit, @student) %></span>
<span><%= link gettext("Back"), to: Routes.student_path(@conn, :index) %></span>
