/* This file is for your main application css. */

@import "./phoenix.css";

.flag {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.flag-img {
  border: 0.1rem solid gray;
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
}

.flag:focus {
  background-color: transparent;
}

.flag:hover {
  background-color: transparent;
}

.flag:active {
  background-color: transparent;
}


